@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: rgb(233, 233, 233);
  background-image: url("kimlong-lehoang-14.jpeg");
}

/* body ::-webkit-scrollbar{
  width: 0.25rem;
}

body ::-webkit-scrollbar-track{
  background: #d22525;
}

body ::-webkit-scrollbar-thumb{
  background: violet;
} */
/* Scrollbar adjustment for Google Chrome */

.container{
  display: flex;
  width: 1200px;
  margin: auto;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  height: 100%;
  background: #fff;
  overflow: hidden;
  transition: width 0.2s ease;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.navbar{
  width: 80%;
  margin: 0 auto;
}

nav:hover{
  width: 280px;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}

nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}

a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 200px;
  padding: 10px;
}

a:hover{
  background-color:rgb(190, 190, 190);
  border-radius: 5px;
}

.logo{
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 20px 0 0 20px;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.logo h1{
  margin-left: 1rem;
  text-transform: uppercase;
  line-height: 10px;
}

ul{
  margin: 0 auto;
}

li{
  padding-bottom: 1rem;
}

li a{
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.logout{
  color: white;
  position: absolute;
  bottom: 20px;
  background-color: black;
  border-radius: 5px;
}

.logout:hover{
  background-color: #516bde;
}

.header-top{
  /* background-color: #394559; */
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 2px 10px 2px 10px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  margin: 10px auto;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.header-body{
  padding: 10px 10px 10px 20px;
}

.header-bottom{
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 2px 10px 2px 10px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  margin: 10px auto;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.search_bar {
  display: flex;
  width: 1200px;
  justify-content: center;
}
.search_bar input{
  width: 200%;
  padding: 10px;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 10px;
}

.search_bar input:focus{
  border: 2px solid blueviolet;
}

.fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.fa-solid{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

#tags{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag{
  color: #fff;
  padding: 10px 20px;
  background-color: #000000;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.tag:hover{
  background-color: #516bde;
}

.tag.highlight{
  background-color:#516bde;
}

/* Main Section */
#main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie{
  width: 300px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.movie-info{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;

  /* glass effect */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.movie-info h3{
  margin-top: 0;
}

.movie-info span{
  background-color: #000000;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.movie-info span.green{
  color: lightgreen;
}

.movie-info span.orange{
  color: orange;
}

.movie-info span.red{
  color: red;
}

.overview{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview{
  transform: translateY(0);
}

.movie img{
  width: 100%;
}

h1{
  margin: 20px 10px;
}

/* footer */

.pagination{
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.page{
  padding: 20px;
  cursor: pointer;
}

.page.disabled{
  cursor: not-allowed;
  color: grey;
}

.current{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* ::-webkit-scrollbar{
  width: 0;
}

#progressbar
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 15px;
  border-radius: 10px;
  background: linear-gradient(to top, #fcb045,#fd1d1d,#833ab4);
} */